<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 注意：项目正式环境请勿引用该地址 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input id="userId" type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <!-- name1和 filed 字段没关系  那个是字段和这个一点关系没有 -->
                    <input id="name1" type="text" name="name" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">礼金</label>
                <div class="layui-input-block">
                    <input id="salute" type="text" name="salute" placeholder="请输入礼金" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">事由</label>
                <div class="layui-input-block">
                    <input id="reason" type="text" name="reason" placeholder="请输入事由" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">丧or喜</label>
                <div class="layui-input-block">
                    <input id="funeralOrHappy" type="text" name="funeralOrHappy" placeholder="请输入丧||喜" class="layui-input">
                </div>
            </div>
            <a class="layui-btn"data-type="reload" lay-submit lay-filter="search" >搜索</a>
            <button class="layui-btn" id="addRow"  data-type="add" lay-event="add">添加</button>
        </div>
    </div>

</table>


<script type="text/html" id="toolbarDemo">

</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="save">保存</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/layui/layui.js}"></script>
<script th:online="none">
    layui.use(['table','form','laydate','element','layer'], function(){
        var table = layui.table,
            $ = layui.jquery,
            layer =layui.layer,
            form  = layui.form;
        var laydate =layui.laydate;

        $(document).ready(function(){
            initUser("");
            // 登录过期的时候，跳出ifram框架
            //if (top.location != self.location) top.location = self.location;
        })
        //导入excel

        //添加行
        $("#addRow").on("click", function() {
            var newData = table.cache["test"];
            var newRow = {"id": "","name":"","time":"","salute":"","reason":"","funeralOrHappy":""};
            newData.push(newRow);
            table.reload("test", {
                parseData: function(res){
                    return {
                        code: 100,
                        data: newData
                    }
                }
            });
        });
        form.on('submit(search)', function(data){
            initUser(data.field);
        });
        // 创建渲染实例
        function initUser(data){
            table.render({
                elem: '#test'
                ,url:'/api/salute/findRecord'
                ,where: data
                ,method:'post'
                ,contentType :'application/json;charset=utf-8'
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: ['filter', 'exports', 'print', {
                    title: '帮助'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                ,height: 'full-200' // 最大高度减去其他容器已占有的高度差
                ,cellMinWidth: 80
                ,totalRow: true // 开启合计行
                ,page: true
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        ,{field:'id', fixed: 'left', width:180, title: 'ID', sort: true}
                        ,{field:'name', width:180, title: '姓名',edit: 'textarea', minWidth: 160, style: '-moz-box-align: start;'}
                        ,{field: 'time', width:190,title: '时间',edit: 'date', templet:Complet,event:"editTime1"}//
                        ,{field:'salute', width:180, title: '礼金(单位:元)',sort: true,totalRow:true,totalRowText: '合计：',edit: 'textarea', minWidth: 160, style: '-moz-box-align: start;'}
                        ,{field:'reason', width:580, title: '事由',edit: 'textarea', minWidth: 160, style: '-moz-box-align: start;'}
                        ,{field:'funeralOrHappy', width:115, title: '丧事or喜事',edit: 'textarea', minWidth: 160, style: '-moz-box-align: start;'}
                        ,{fixed: 'right', title:'操作', width: 125, minWidth: 125, toolbar: '#barDemo'}
                    ]
                ]
                ,done: function(obj){
                    var id = this.id;
                }
                ,error: function(res, msg){
                    console.log(res, msg)
                }
            });
            return false;
        }
        function Complet(obj) {
            var c=obj.time;
            var date="CompleteDate"+obj.id;
            return '<span id='+date+' placeholder="yyyy-MM-dd">'+c+'</span>'
        }

        // 工具栏事件
        table.on('toolbar(test)', function(obj){
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(layui.util.escape(JSON.stringify(data)));
                    break;
                case 'getData':
                    var getData = table.getData(id);
                    console.log(getData);
                    layer.alert(layui.util.escape(JSON.stringify(getData)));
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
                case 'multi-row':
                    table.reload('test', {
                        // 设置行样式，此处以设置多行高度为例。若为单行，则没必要设置改参数 - 注：v2.7.0 新增
                        lineStyle: 'height: 95px;'
                    });
                    layer.msg('即通过设置 lineStyle 参数可开启多行');
                    break;
                case 'default-row':
                    table.reload('test', {
                        lineStyle: null // 恢复单行
                    });
                    layer.msg('已设为单行');
                    break;
                case 'LAYTABLE_TIPS':
                    layer.alert('Table for layui-v'+ layui.v);
                    break;
            };
        });

        //触发单元格工具事件
        table.on('tool(test)', function(obj){ // 双击 toolDouble
            var data = obj.data;
            if(obj.event === 'del'){
                console.log(JSON.stringify(data.id))
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    $.ajax({
                        url:"/api/salute/delEvent",
                        data:{id:data.id},
                        //请求的类型
                        contentType: "application/json;charset=utf-8", // 设置请求头
                        dataType:"json",
                        type:"get",
                        success(resp){
                            if (resp.code==100){
                                layer.alert(resp.msg)
                            }else {
                                layer.alert(resp.msg)
                            }
                        },error(err){
                            alert(err.msg)
                            console.log("服务器错误!")
                        }
                    })
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    title: '编辑',
                    type: 1,
                    area: ['80%','80%'],
                    content: '<div style="padding: 16px;">自定义表单元素</div>'
                });
            }else if (obj.event === 'editTime1'){
                laydate.render({
                    elem: '#CompleteDate'+obj.data.id, //指定元素
                    type:'date',
                    trigger:'focus',
                    show:true,
                    done:function (value) {
                        document.getElementById('CompleteDate'+obj.data.id).innerText=value;
                    }
                });
            }else if (obj.event === 'save'){
                obj.data.time=document.querySelector('#CompleteDate'+ obj.data.id).innerHTML;
                $.ajax({
                    url:"/api/salute/addOrUpdateSalute",
                    data:JSON.stringify(obj.data),
                    //请求的类型
                    contentType: "application/json;charset=utf-8", // 设置请求头
                    dataType:"json",
                    type:"post",
                    success(resp){
                        if (resp.code==100){
                            layer.alert(resp.msg)
                        }else {
                            layer.alert(resp.msg)
                        }
                    },error(err){
                        alert(err.msg)
                        console.log("服务器错误!")
                    }
                })
            }
        });

        //触发表格复选框选择
        table.on('checkbox(test)', function(obj){
            console.log(obj)
        });

        //触发表格单选框选择
        table.on('radio(test)', function(obj){
            console.log(obj)
        });

        // 行单击事件
        table.on('row(test)', function(obj){

        });
        // 行双击事件
        table.on('rowDouble(test)', function(obj){
            console.log(obj);
        });

        // 单元格编辑事件
        table.on('edit(test)', function(obj){
            var field = obj.field //得到字段
                ,value = obj.value //得到修改后的值
                ,data = obj.data; //得到所在行所有键值

            var update = {};
            update[field] = value;
            obj.update(update);
        });
    });
</script>

</body>
</html>