<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/public.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">用户昵称</label>
                <div class="layui-input-block">
                    <input id="nickname" name="nickname" lay-verify="required" placeholder="请输入用户昵称"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">手机</label>
                <div class="layui-input-block">
                    <input id="phone" name="phone" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input id="email" type="email" name="email"  placeholder="请输入邮箱"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-upload layui-form-item">
                <label class="layui-form-label">更换头像</label>
                <button type="button" class="layui-btn" name="avatar" id="uploadAvatar">上传头像</button>
                <tips>仅支持上传jpg、jpeg、png</tips>
                <div class="layui-upload-list layui-form-item">
                    <div>
                    <label class="layui-form-label">图片</label>
                    <img id="avatar" value="avatar" src="" class="layui-upload-img" >
                    <p id="uploadStatus"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">座右铭信息</label>
                <div class="layui-input-block">
                    <textarea id="motto" name="motto" class="layui-textarea" placeholder="请输入座右铭信息! 如:盛年不重来,一日难再晨等"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<layui-vue th:replace="common/common_js :: commonJs"></layui-vue>
<script>
    layui.use(['form','miniTab','upload','element','layer'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            upload = layui.upload,
            miniTab = layui.miniTab,
            element = layui.element;

        $("#avatar").on('click',  function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: $('#avatar')
            });
        });

        //回显用户信息用
        $(document).ready(function(){
            var nickname = document.getElementById("nickname");
            nickname.value=userInfo.nickname;
            var phone = document.getElementById("phone");
            phone.value=userInfo.phone;
            var email = document.getElementById("email");
            email.value=userInfo.email;
            var motto = document.getElementById("motto");
            motto.value=userInfo.motto;
            var avatar = document.getElementById("avatar");
            $('#avatar').attr('src', userInfo.avatar);
        })
        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#uploadAvatar'
            ,url: '/api/file/uploadFiles'
            ,multiple:true //是否允许多文件上传。设置 true即可开启。不支持ie8/9
            ,accept: 'images,file' //允许上传的类型
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#avatar').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            ,done: function(res){
                layer.msg(res.msg);

                //上传成功的一些操作
                $('#uploadStatus').html(''); //置空上传失败的状态
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var uploadStatus = $('#uploadStatus');
                uploadStatus.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                uploadStatus.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
            //进度条
            ,progress: function(n, elem, e){
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if(n == 100){
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data.field.id=userid;
            data.field.avatar=$("img").attr("src");
            $.ajax({
                url:"/api/user/changeUserInfo",
                data:JSON.stringify(data.field),
                dataType:"json",
                type:"post",
                cache : false,
                async : false,
                contentType: "application/json;charset=utf-8", // 设置请求头
                success(resp){
                    debugger
                    if (resp.code==100){
                        layer.msg('修改成功', function () {localStorage.setItem("userInfo",JSON.stringify(resp.data))});
                    }
                }, error(err){
                    alert(err.responseJSON.message)
                    layer.msg('服务器错误!');
                }
            })
            return false;
        });

    });
</script>
</body>
</html>