<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>修改密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/layui/css/public.css}" media="all">
  <style>
    .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
  </style>
</head>
<body>
<div class="layuimini-container">
  <div class="layuimini-main">

    <div class="layui-form layuimini-form">
      <div class="layui-form-item">
        <label class="layui-form-label required">旧的密码</label>
        <div class="layui-input-block">
          <input type="password" name="password" lay-verify="pass" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码"  value="" class="layui-input">
          <tip>填写自己账号的旧的密码。</tip>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label required">新的密码</label>
        <div class="layui-input-block">
          <input type="password" id="password" name="newPassword" lay-verify="pass" lay-reqtext="密码不能为空" placeholder="请输入新密码"
                 class="layui-input"><img id="img" onclick="hideShowPsw()" src="/static/layui/images/showPassword.png">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label required">确认密码</label>
        <div class="layui-input-block">
          <input type="password" id="password2"  name="again_password" lay-verify="pass" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码"
                class="layui-input"><img id="img2" onclick="hideShowPsw2()" src="/static/layui/images/showPassword.png">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<layui-vue th:replace="common/common_js :: commonJs"></layui-vue>
<script>

  //隐藏text block，显示password block
  function hideShowPsw() {
    var demoImg = document.getElementById("img");
    var PWD = document.getElementById("password");
    if (PWD.type == "password") {
      PWD.type = "text";
      demoImg.src = "/static/layui/images/hidePassword.png"; //图片路径（闭眼图片）
    } else {
      PWD.type = "password";
      demoImg.src = "/static/layui/images/showPassword.png"; // 图片路径（睁眼图片）

    }
  }
  function hideShowPsw2() {
    var demoImg = document.getElementById("img2");
    var PWD = document.getElementById("password2");
    if (PWD.type == "password") {
      PWD.type = "text";
      demoImg.src = "/static/layui/images/hidePassword.png"; //图片路径（闭眼图片）
    } else {
      PWD.type = "password";
      demoImg.src = "/static/layui/images/showPassword.png"; // 图片路径（睁眼图片）

    }
  }
  layui.use(['form','miniTab','jquery'], function () {
    var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        miniTab = layui.miniTab;
    //监听提交
    form.on('submit(saveBtn)', function (data) {
      if (data.field.again_password!==data.field.newPassword){
        return  layer.msg("密码输入不一致!重新输入");
      }
      data.field.id=userid;
      $.ajax({
        url:"/api/user/changeUserInfo",
        data:JSON.stringify(data.field),
        dataType:"json",
        type:"post",
        cache : false,
        async : false,
        contentType: "application/json;charset=utf-8", // 设置请求头
        success(resp){
          debugger
          if (resp.code==100){
            layer.msg('修改成功', function () {localStorage.setItem("userInfo",JSON.stringify(resp.data))});
          }
        }, error(err){
          alert(err.responseJSON.message)
          layer.msg('服务器错误!');
        }
      })
      return false;
    });

  });
</script>
</body>
</html>